.banner {
  background-color: #cce0f5;
  padding: 30px 0;
  border-bottom-right-radius: 80% 20%;
  border-bottom-left-radius: 80% 20%;
  margin-bottom: 30px;
}
.banner h1 {
  color: #1a54a8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 48;
  font-weight: bold;
}
